.firstDiv{
    background:#D8C6A4;
}
.secondDiv{
    text-align: center;
    font-size: 150px;
    margin-top: 100px;
    color: #CE7E2C;
}
.title{
color: #9A744D;
}
.secondPart{
    margin-top:-20px;
}
.clorNav {
    background-color: #D8C6A4;
}